<footer>
    <div class="presentacion">
        <p>
            Pagina Desarrollada por: <br />
            Alejandro Caraballo. CI: 30.040.746. <br />
            Dionner Figueras. CI: 28.561.983.
        </p>
    </div>

    <div class="titulo">TELECOMUNICACIONES</div>

    <div class="contacto">
        <p>Informacion de contacto:</p>
        <p>
            Correo electronico: <a href="mailto:alejandrojcb62001@gmail.com">alejandrojcb62001@gmail.com</a>
        </p>
        <p>
            Correo electronico: <a href="mailto:dionnerfigi79@gmail.com">dionnerfigi79@gmail.com</a>
        </p>
    </div>
</footer>

<style>
    footer {
        background: #000;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        color: #fff;
        text-align: center;
    }

    .presentacion {
        flex: 1 1 0;
    }

    .presentacion p {
        font-size: 18px;
    }

    .titulo {
        flex: 3 3 0;
        font-size: 38px;
        font-weight: bold;
    }

    .contacto {
        flex: 1 1 0;
    }

    .contacto p, .contacto p {
        font-size: 18px;
    }

    .contacto p a{
        text-decoration: none;
        color: #4ecf16;
    }

</style>
