<footer>

    <div class="titulo">TELECOMUNICACIONES</div>

    <div class="presentacion">
        <p>
            Pagina Desarrollada por: <br />
            <a href="mailto:alejandrojcb62001@gmail.com">Alejandro Caraballo.</a>  CI: 30.040.746. <br />
            <a href="mailto:dionnerfigi79@gmail.com">Dionner Figueras.</a>  CI: 28.561.983.
        </p>
    </div>


</footer>

<style>
    footer {
        background: #000;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

    div {
        color: #fff;
        text-align: center;
    }

    .titulo {
        font-size: 30px;
        font-weight: bold;
    }

    .presentacion {
        font-size: 18px;
    }

    .presentacion p a{
        color: #79ee6e;
        text-decoration: none;
    }
</style>
