<div class="content">
    <section>
        <h2>EVOLUCIÓN DEL TELÉFONO MÓVIL</h2>
        <p>
            Los servicios telefónicos móviles analógicos fueron introducidos en
            Estados Unidos en 1946, cubriendo 25 ciudades principales con
            estaciones base que abarcaban un radio de aproximadamente 30 millas.
            En los años 40 se introdujeron sistemas telefónicos móviles de FM,
            semidúplex y necesitaban un ancho de banda de 120 kHz por canal. En
            la década siguiente, la FCC duplicó la cantidad de canales
            reduciendo el ancho de banda a 60 kHz. En los años 60, AT&T
            introdujo el servicio dúplex de discado directo y propuso el
            concepto de sistema móvil celular. En los años 70, se desarrollaron
            los sistemas de teléfono celular móvil y los circuitos integrados
            permitieron mejoras en las operaciones. Se redujo el ancho de banda
            a 30 kHz, duplicando la cantidad de canales móviles. En 1974, la FCC
            asignó más ancho de banda para el servicio celular, y en 1983 se
            formó el primer sistema de teléfono celular en Estados Unidos
            llamado AMPS. En 1991 se introdujeron los primeros servicios
            celulares digitales. Qualcomm desarrolló el sistema CDMA, mientras
            que Iridium comenzó a ofrecer servicios de telefonía móvil vía
            satélite en 1998. Iridium permite una amplia gama de servicios
            telefónicos móviles. Desde entonces la tecnología celular ha seguido
            evolucionando a pasos agigantados, con la introducción de nuevas
            generaciones (2G, 3G, 4G, 5G) que ofrecen mayor velocidad, capacidad
            y aplicaciones. A medida que la tecnología celular continúa
            evolucionando, podemos esperar aún más innovaciones que seguirán
            transformando nuestra realidad y abriendo nuevas posibilidades para
            el futuro.
        </p>
    </section>

    <section>
        <h2>SERVICIOS DE COMUNICACIONES MÓVILES EN DOS SENTIDOS</h2>

        <p>
            Los sistemas de radiocomunicaciones bidireccionales abarcan una
            amplia gama de tecnologías que nos permiten comunicarnos de manera
            eficiente y segura. A continuación, se presenta una descripción
            detallada de algunas de las clases más importantes:
        </p>
        <ol>
            <li>
                <strong>Radio móvil terrestre:</strong>:
                <ul>
                    <li>
                        <strong> Radio civil (CB) de clase D:</strong> Opera entre
                        26.96 y 27.41 MHz, ofreciendo 40 canales compartidos de 10
                        kHz. Se utiliza para servicios públicos y no comerciales,
                        tanto personales como comerciales. Emplea AM DSBFC y AM SSBFC
                        con operación de "oprimir para hablar". Existen otras tres
                        clases de CB menos comunes: A, B y C.
                    </li>
                    <li>
                        <strong>Radio de aficionados:</strong> Cubre una banda ancha
                        de frecuencia, desde 1.8 MHz hasta más de 300 MHz. Está diseñada
                        para uso personal sin fines de lucro. Ofrece una amplia variedad
                        de clases, incluyendo CW, AM, FM, radio teleimpresora (RTTY),
                        SSTV (televisión de barrido lento de foto fija y barrido
                        lento HF), televisión y facsímil de barrido lento o rápido
                        (de VHF o UHF), y FSK de audio (AFSK).
                    </li>
                    <li>
                        <strong
                            >Servicio de radiodifusión aeronáutica (ABS):</strong
                        > Opera entre 2.8 y 457 MHz. Difunde información para la
                        navegación aérea y las comunicaciones aire-tierra. Utiliza
                        AM convencional y diversas formas de SSB AM en las bandas
                        de frecuencia HF, MF y VHF.
                    </li>
                    <li>
                        <strong
                            >Servicios de radio móvil terrestre privados:</strong
                        >
                        <ul>
                            <li>
                                <strong>Radio celular analógica:</strong> Transmite
                                en FM utilizando FDMA o TDMA.
                            </li>
                            <li>
                                <strong>Radio especial de emergencia:</strong> Comprende
                                servicios médicos, de rescate en desastres, camiones
                                escolares, veterinarios, salvavidas y localización
                                de personas.
                            </li>
                            <li>
                                <strong>Radio industrial:</strong> Utilizada por
                                empresas eléctricas, petroleras, forestales, comerciales,
                                manufactureras, cinematográficas, noticiosas y de
                                mantenimiento telefónico.
                            </li>
                        </ul>
                    </li>
                </ul>
                <li>
                    <strong>Servicio telefónico móvil:</strong>
                    <ul></ul>
                    <li>
                        <strong>Radio celular analógica:</strong> Transmite en FM
                        utilizando FDMA o TDMA.
                    </li>
                    <li>
                        <strong>Radio celular digital:</strong> Sistema de comunicaciones
                        personales (PCS). Transmite señales de voz codificadas por
                        PCM mediante PSK, utilizando TDMA, FDMA y CDMA.
                    </li>
                    <li>
                        <strong
                            >Servicio satelital de comunicaciones personales
                            (PCSS):</strong
                        > Proporciona servicio de telecomunicaciones global con teléfonos
                        portátiles que se comunican entre sí a través de repetidoras
                        de satélite en órbita terrestre. Utiliza modulación QPSK
                        y tanto FDMA como TDMA.
                    </li>
                </li>
            </li>
        </ol>
        <p>
            En resumen, los sistemas de radiocomunicaciones bidireccionales
            ofrecen una solución versátil y adaptable para diversas necesidades
            de comunicación. Desde la comunicación personal hasta la seguridad
            pública y las operaciones industriales, estas tecnologías nos
            permiten estar conectados e informados en un mundo en constante
            movimiento.
        </p>
    </section>

    <section>
        <h2>TELÉFONO CELULAR</h2>
        <p>
            El teléfono celular, también conocido como radio celular, soluciona
            problemas del servicio telefónico móvil tradicional y crea un nuevo
            ambiente para ambos servicios. El concepto de radio celular fue
            desarrollado en 1947 por investigadores de Bell Telephone
            Laboratories y otras empresas de comunicaciones. Consiste en
            subdividir una zona de cobertura en células más pequeñas para
            aumentar la capacidad de un canal telefónico móvil mediante la
            reutilización de frecuencias. Los sistemas telefónicos celulares
            permiten que muchos usuarios compartan canales limitados, mientras
            que los avances en tecnología de circuitos integrados y
            microprocesadores permiten un procesamiento más rápido y eficiente.
        </p>

        <h3>Conceptos básicos del teléfono celular</h3>
        <p>
            El concepto básico del teléfono celular se basa en la subdivisión de
            áreas geográficas en células hexagonales para proporcionar una
            transmisión eficiente. Cada célula se define por su tamaño
            geográfico, población y pautas de tráfico, y se le asigna una
            cantidad fija de canales celulares de voz. Las células varían en
            tamaño y potencia de salida, con macrocélulas que abarcan hasta 15
            millas y microcélulas que se utilizan principalmente en áreas
            urbanas. Las microcélulas tienen un radio más corto y muestran un
            deterioro mínimo en la propagación de señales. Las macrocélulas
            pueden superponerse a grupos de microcélulas y se utilizan para
            usuarios en movimiento rápido. Los algoritmos de transferencia de
            células se pueden modificar para tener en cuenta las distancias
            entre una unidad móvil y su estación base. En resumen, el teléfono
            celular es un concepto de radio móvil que reemplaza las estaciones
            transmisoras base fijas con infraestructuras distribuidas de baja
            potencia, lo cual agrega una dimensión espacial al modelo
            tradicional de sistemas telefónicos con cable.
        </p>

        <h3>Reutilización de frecuencia</h3>
        <p>
            La reutilización de frecuencia es el proceso de asignar el mismo
            conjunto de frecuencias a varias células, siempre y cuando estén lo
            suficientemente alejadas entre sí. Al reducir el área de cobertura
            de cada célula, se promueve la reutilización de frecuencia y se
            evita la interferencia mutua entre las células que comparten los
            mismos canales de radio. Cada estación base se le asigna un grupo de
            frecuencias de canal diferente al de las células adyacentes, y se
            eligen las antenas de la estación base para lograr una cobertura
            específica dentro de su célula. Mientras las células estén separadas
            por cierta distancia, se puede utilizar el mismo grupo de
            frecuencias en células diferentes. Este concepto se puede ilustrar
            de forma matemática considerando un sistema con una cantidad
            determinada de canales disponibles:
        </p>

        <p>
            <strong>F = GN</strong>
            <p>
                En donde: <br />
                <strong>N = </strong> cantidad de células en un grupo <br />
                <strong>G = </strong> cantidad de canales en una célula <br />
                <strong>F = </strong> cantidad de canales en una célula <br />
            </p>
            <p>
                Las células que usan el mismo conjunto de frecuencias
                disponibles de canal, en forma colectiva, se llaman grupo.
                Cuando se reproduce un grupo m veces dentro de un sistema, la
                cantidad total de canales dúplex se puede determinar como sigue:
            </p>
            <p>
                <strong>C = mGN</strong> o tambien <br />
                <strong>C = mF</strong>

                <p>
                    En donde: <br />
                    <strong>C =</strong> capacidad de canales <br />
                    <strong>m =</strong> cantidad de unidades de asignación
                </p>
            </p>
            <p>
                Según las ecuaciones 20-2a y b, la capacidad de los canales en
                un sistema telefónico celular es proporcional al tamaño del
                grupo que se duplica en un área determinada. El tamaño del
                grupo, llamado factor N, suele ser 3, 7 o 12. Cuando se reduce
                el tamaño del grupo pero se mantiene constante el tamaño de la
                célula, se requieren más unidades de asignación y, por lo tanto,
                la capacidad aumenta. El factor de reutilización de frecuencia
                es inversamente proporcional al número de células en un grupo,
                es decir, a 1/N. Cada célula del grupo tiene asignada una
                fracción 1/N de los canales totales disponibles. La disposición
                de células se realiza en forma hexagonal, con seis células
                vecinas en ángulos de múltiplos de 60°. Por lo tanto, hay una
                cantidad limitada de tamaños y distribuciones de grupos de
                células. Para asegurar que las células se unan sin espacios
                vacíos, la geometría del hexágono establece que la cantidad de
                células por grupo debe cumplir con una ecuación determinada.
            </p>

            <p>
                <img class="formula" src="/public/img/1.png" alt="Formula 1" />
                <p>
                    Donde:
                    <strong>N = </strong> cantidad de células por grupo
                    <strong>i y j = </strong> valores enteros no negativos
                </p>
            </p>
        </p>

        <h3>Interferencia</h3>
        <p>
            En un sistema de teléfono celular, existen dos tipos principales de
            interferencia: la interferencia de canal compartido y la
            interferencia de canal adyacente.

            <strong>La interferencia de canal compartido</strong> ocurre cuando varias
            células dentro de una región utilizan el mismo conjunto de frecuencias.
            A diferencia del ruido térmico, aumentar la potencia de transmisión no
            reduce la interferencia de canal compartido, ya que esto aumenta la probabilidad
            de interferencia con otras células. Para reducir esta interferencia,
            se debe mantener una distancia mínima entre los canales compartidos.
            Además, la interferencia entre células depende de la relación entre la
            distancia y el radio de la célula. Aumentar la relación entre la distancia
            y el radio puede reducir la interferencia. Entonces, se puede reducir
            la interferencia por canal compartido aumentando la relación de reutilización
            de canal compartido. Para la geometría hexagonal:
        </p>
        <p>
            <img class="formula" src="/public/img/2.png" alt="Formula" />

            <p>
                Donde: <br />
                <strong>Q = </strong> relación de reutilización de canal compartido
                (adimensional) <br />
                <strong>D = </strong> distancia al centro de la célula mas cercana
                del canal compartido (kilómetros) <br />
                <strong>R = </strong> radio de la célula (kilómetros) <br />
                <strong>N = </strong> tamaño del grupo (cantidad de células) <br
                />
            </p>
            <p>
                Un menor valor de Q aumenta la capacidad de canales. Un mayor
                valor de Q mejora la interferencia y la calidad de transmisión.
                Hay que encontrar un balance en el diseño del sistema celular. <br
                />

                <strong>La interferencia por canal adyacente</strong> ocurre cuando
                las transmisiones de canales cercanos interfieren entre sí debido
                a filtros imperfectos en los receptores. Esta interferencia se presenta
                más cuando el canal adyacente transmite cerca del receptor mientras
                está recibiendo transmisiones de la estación base en una frecuencia
                adyacente. También se le conoce como efecto cercano-lejano, y se
                puede reducir mediante el uso de filtros precisos y asignaciones
                cuidadosas de canal, así como una separación adecuada de frecuencias
                entre los canales de una célula dada. Sin embargo, un factor de reutilización
                pequeño puede causar una interferencia inadecuada entre canales adyacentes.
            </p>
        </p>

        <h3>División de célula</h3>
        <p>
            En la década de 1960, Bell System propuso los sistemas telefónicos
            celulares como una solución para la congestión de espectros de
            frecuencia en los sistemas de teléfonos móviles de área amplia.
            Estos primeros sistemas ofrecían cobertura amplia pero se agotaban
            rápidamente los canales disponibles. Los sistemas de teléfono
            celular utilizan transmisores de baja potencia y cubren áreas
            geográficas más pequeñas. La división de células tiene como objetivo
            aumentar la capacidad y mejorar la disponibilidad y confiabilidad de
            una red celular. Con la demanda creciente de servicio celular, los
            canales celulares asignados se agotan rápidamente. La división y
            sectorización de células son métodos utilizados para aumentar la
            capacidad de una red celular. La división de células permite un
            crecimiento ordenado de un sistema celular, mientras que la
            sectorización reduce la interferencia y permite reutilizar las
            frecuencias de canal. La división de células implica subdividir
            células congestionadas en células más pequeñas, cada una con su
            propia estación base y conjunto de frecuencias. Este proceso se
            realiza cuando los niveles de tráfico en una célula comprometen la
            disponibilidad de los canales, lo que puede provocar bloqueo y
            sobrecarga del sistema. La división de células permite aumentar la
            capacidad de un sistema mediante la sustitución de células grandes
            sin interferir en el esquema de asignación necesario para evitar la
            interferencia entre células. Además, al aumentar la densidad de
            tráfico, las células se dividen en células más pequeñas, lo que
            reduce la potencia de transmisión y aumenta la capacidad de canal.
            En resumen, la división de células es una estrategia para aumentar
            la capacidad de una red celular mediante la subdivisión de células
            grandes en células más pequeñas, lo que permite un mejor uso de los
            canales y una mayor densidad de tráfico.
        </p>

        <h3>Sectorización</h3>
        <p>
            Una forma de aumentar la capacidad de los canales es reducir la
            relación D/R mientras se mantiene el mismo radio de célula. Esto se
            logra disminuyendo la cantidad de células en un grupo y aumentando
            la reutilización de frecuencia. Para esto, es necesario reducir la
            interferencia relativa sin disminuir la potencia de transmisión. En
            un sistema de telefonía celular, se puede disminuir la interferencia
            utilizando antenas direccionales en lugar de antenas
            omnidireccionales, irradiando hacia áreas específicas conocidas como
            sectores. La sectorización reduce la interferencia y aumenta la
            capacidad del sistema.
        </p>

        <h3>Segmentación y dualización</h3>
        <p>
            La segmentación y la dualización son técnicas utilizadas para
            aumentar la capacidad de células en redes de comunicación. La
            segmentación divide un grupo de canales en segmentos de frecuencias
            excluyentes y asigna a cada célula un segmento de canales. Esto
            evita la interferencia pero reduce la capacidad de las células. Por
            otro lado, la dualización evita la división completa de células al
            asignar las mismas frecuencias a células cercanas. Sin embargo, esto
            requiere una estación base adicional en la célula central. A pesar
            de estas limitaciones, estas técnicas son ampliamente utilizadas en
            la práctica para mejorar la eficiencia de las redes de comunicación.
        </p>

        <h3>Estructura del sistema de células</h3>
        <p>
            <img
                class="img"
                src="/public/img/Estrucura del sistema de celulas.png"
                alt="Sistema de celulas"
            />
            <p>
                La figura muestra un sistema telefónico celular simplificado que
                consta de una red de radio que cubre áreas geográficas llamadas
                células. Dentro de cada célula, las unidades móviles como
                teléfonos celulares o PCS pueden comunicarse en dos sentidos con
                una estación base ubicada en el centro de la célula. La estación
                base actúa como control central para todos los usuarios dentro
                de la célula. La red de radio está compuesta por transceptores
                de radiofrecuencia ubicados en las estaciones base. Cada
                estación base se comunica con una oficina de conmutación de
                telefonía móvil (MTSO) a través de enlaces de datos dedicados.
                La MTSO controla el procesamiento de llamadas, establecimiento y
                terminación de llamadas, conmutación y asignación de canales de
                RF. Además, la MTSO proporciona una administración y
                mantenimiento centralizados para toda la red y se conecta a la
                red telefónica pública conmutada (PSTN) a través de
                instalaciones de voz por cable. Las estaciones base se
                distribuyen en todo el área de cobertura del sistema y son
                controladas por un controlador local de célula computarizado.
                Cada estación base consiste en un transceptor de baja potencia,
                amplificadores de potencia, una unidad de control y otros
                componentes dependiendo de la configuración del sistema. Dentro
                de cada célula, se pueden manejar varios canales de usuario con
                una técnica de acceso múltiple. Cada canal puede manejar hasta
                20 usuarios de teléfono móvil simultáneamente y los canales se
                asignan dinámicamente para la duración de una llamada. Cuando un
                automóvil se aleja de una estación base, la señal recibida
                comienza a disminuir y la estación base controla la potencia de
                salida de la unidad móvil. Si la intensidad de la señal baja por
                debajo de un umbral predeterminado, la llamada se traslada a la
                célula que recibe la señal más intensa. Este proceso se conoce
                como roaming. Durante una transferencia de estación base, la
                llamada se convierte a un canal disponible en la nueva célula.
                Esta transferencia puede ser suave o dura, dependiendo de si se
                produce una interrupción momentánea en la comunicación. En
                resumen, un sistema telefónico celular consta de una red de
                radio, estaciones base, MTSO, unidades móviles y protocolo de
                comunicaciones. Las estaciones base permiten la comunicación
                entre los teléfonos móviles y la red, y las transferencias de
                célula a célula aseguran una conexión continua para los
                usuarios.
            </p>
        </p>

        <h4>Centro electrónico de conmutación</h4>
        <p>
            Una central telefónica es esencial en un sistema telefónico celular.
            Controla la conmutación entre la red telefónica y los sitios de
            célula, procesa datos y se comunica con los controladores de sitio
            mediante un enlace de datos a 9.6 kbps.
        </p>

        <h4>Controlador de sitio</h4>
        <p>
            Cada célula tiene un controlador dirigido por el centro de
            conmutación que administra los canales de radio, supervisa llamadas
            y realiza pruebas de diagnóstico.
        </p>

        <h4>Radio transceptores</h4>
        <p>
            Se usan radio transceptores FM de banda angosta en sistemas
            analógicos y QPSK en sistemas digitales para radio celular. Cada
            estación base contiene un radiotransmisor y dos radiorreceptores,
            seleccionando el receptor con la señal más intensa, llamado
            diversidad de receptor.
        </p>

        <h4>Interconexiones del sistema</h4>
        <p>
            Se usan líneas telefónicas rentadas de cuatro conductores para
            conectar los centros de conmutación a los sitios de célula. Hay un
            circuito troncal dedicado para cada canal de usuario y al menos uno
            para conectar la central con el controlador de sitio.
        </p>

        <h4>Unidades telefónicas móviles y portátiles</h4>
        <p>
            Las unidades portátiles son similares, pero tienen menor potencia de
            salida y antena menos eficiente. Funcionan solo con batería. Cada
            unidad móvil tiene control, transceptor, lógica y antena móvil. El
            control interactúa con el usuario y el transceptor sintoniza los
            canales. La unidad lógica administra las acciones y órdenes del
            sistema.
        </p>

        <h4>Protocolo de comunicaciones</h4>
        <p>
            El sistema celular utiliza diferentes protocolos de comunicación
            para establecer llamadas telefónicas en distintos países, como AMPS
            en Estados Unidos, AURORA 800 en Canadá y diferentes normas en
            Europa, como TACS en el Reino Unido.
        </p>

        <h3>Procesamiento de llamadas</h3>
        <p>
            En una llamada telefónica en una red celular, se utilizan dos
            canales dúplex de voz simultáneamente: uno para el usuario y otro
            para el control. La estación base y la unidad móvil transmiten y
            reciben en canales directos e inversos. Para completar una llamada,
            la unidad móvil realiza procedimientos de arranque y se sintoniza al
            canal con la mayor intensidad de señal, sincronizándose con los
            datos de control transmitidos por el controlador del sitio. La
            unidad móvil monitorea los canales de control y se asegura de
            utilizar el mejor canal. Las llamadas pueden realizarse entre un
            teléfono de cable y uno móvil, o entre dos teléfonos móviles en un
            sistema celular.
        </p>

        <h4>Llamadas de teléfono por cable a móvil</h4>
        <p>
            Las llamadas de teléfono por cable a móviles se realizan a través de
            una línea dedicada de interconexión de la red telefónica pública. El
            centro de conmutación del sistema celular verifica si el
            destinatario de la llamada está disponible y localiza al suscriptor
            móvil. Después de recibir una respuesta de voceo, la central asigna
            un canal inactivo y la unidad móvil se sintoniza a ese canal. Se
            verifica la sintonización del canal y se hace sonar el teléfono
            móvil del suscriptor. La conversación comienza cuando se confirma
            que el suscriptor ha respondido.
        </p>

        <h4>Llamada de teléfono móvil a teléfono por cable</h4>
        <p>
            Un suscriptor móvil puede llamar a un teléfono por cable marcando el
            número en la memoria de su dispositivo. Luego, presiona un botón
            para enviar el número y su identificación al central telefónica. Si
            la identificación es válida, la llamada se conecta a través de una
            línea de cable rentada a la red telefónica pública. La central
            asigna un canal de usuario desocupado a la unidad móvil y le indica
            que se sintonice a ese canal. Una vez que se verifica la
            sintonización, el suscriptor móvil escucha un tono de llamada.
            Cuando la otra parte responde, la conversación puede comenzar.
        </p>

        <h4>Llamadas de móvil a móvil</h4>
        <p>
            En el sistema de radio celular, se pueden realizar llamadas entre
            dos unidades móviles. Para iniciar una llamada, la persona que llama
            ingresa el número en la memoria de la unidad y presiona el botón de
            enviar. La central recibe el número de identificación del llamante y
            del destinatario, y verifica si la unidad destinataria está
            disponible para recibir una llamada. Luego, la central emite una
            orden de voz a los controladores del sitio y la parte llamada recibe
            una señal. Después de una confirmación por parte del destinatario,
            la central asigna a cada uno un canal de usuario desocupado y se
            inicia la conversación. Si todos los canales de usuario están
            ocupados, se instruye al suscriptor a intentarlo en una célula
            vecina. Si no se puede asignar un canal a través de una célula
            vecina, se envía un mensaje de intercepción al llamante. Si el
            destinatario está ocupado o si el número es inválido, se envía un
            mensaje grabado o se anuncia que la llamada no puede ser procesada.
        </p>

        <h4>Función de transferencia de llamada</h4>
        <p>
            Una propiedad clave de un sistema celular es su capacidad de
            transferir llamadas en curso de una célula a otra a medida que los
            dispositivos móviles se mueven entre ellas. Este proceso se conoce
            como transferencia de llamada y se realiza sin interrupciones
            significativas en la calidad de la transmisión. La transferencia se
            basa en cambios en la intensidad de la señal. Cuando la señal de un
            canal ocupado cae por debajo de un umbral durante un intervalo de
            tiempo establecido, se realiza la transferencia si hay un canal
            disponible en otra célula. El tiempo de transferencia es de
            aproximadamente 200 ms. Los parámetros de la transferencia se
            ajustan según la carga de tráfico y las condiciones del terreno.
            Para evitar bloqueos o pérdidas de llamada, se utiliza un esquema de
            balanceo de carga que libera canales y establece prioridades de
            transferencia. Los programadores actualizan el algoritmo de
            conmutación en la central de manera continua para adaptarse a las
            variaciones en la carga de tráfico.
        </p>
    </section>

    <section>
        <h2>TELÉFONO CELULAR ANALÓGICO</h2>
        <p>
            En 1971, Bell Telephone Laboratories propuso el concepto de teléfono
            celular, conocido como servicio telefónico móvil avanzado (AMPS).
            Este sistema introdujo la dimensión espacial a las redes telefónicas
            convencionales mediante el uso de sitios celulares de baja potencia
            enlazados por un centro de conmutación y control. AMPS se implementó
            en 1983 en áreas de Chicago, utilizando antenas omnidireccionales
            para reducir costos. Los teléfonos celulares AMPS utilizaban
            modulación de frecuencia de banda angosta y requerían una relación
            señal a interferencia mínima de 18 dB para un funcionamiento
            satisfactorio. El sistema utilizó una pauta de reutilización de
            células y pudo aumentar la capacidad de canales según fuera
            necesario.
        </p>

        <h3>Asignación de frecuencias AMPS</h3>
        <p>
            En 1980, la FCC permitió dos portadoras comunes por área celular de
            servicio para evitar monopolios y fomentar la competencia. Surgieron
            dos sistemas de asignación de frecuencia, denominados A y B, cada
            uno con diferentes grupos de canales compartiendo el espectro
            asignado. El sistema A es para empresas sin cables telefónicos y el
            sistema B para empresas con cables. El sistema AMPS de telefonía
            celular utiliza un total de 666 canales dúplex por área de servicio,
            asignando los canales A del 1 al 333 y los canales B del 334 al 666.
            Se utilizan métodos de transmisión simultánea en ambas direcciones,
            ya sea en el dominio de la frecuencia o del tiempo, y se emplea un
            aparato especial llamado duplexor para permitir la transmisión y
            recepción simultáneas en un canal dúplex. Los canales de radio en
            dos sentidos consisten en un par de canales símplex separados por 45
            MHz. Con el tiempo, se agregaron 5 MHz adicionales, aumentando la
            cantidad de canales disponibles a 832 (416 dúplex). Los canales se
            dividen en canales de control y canales de voz o de usuario, siendo
            estos últimos los utilizados para conversaciones y transmisión de
            datos entre usuarios. El espectro ampliado incluye los canales 667 a
            799 y 991 a 1023.
        </p>
        <p>
            <img class="formula-2" src="/public/img/3.png" alt="formula3" />
            <p>
                <strong>Donde N es el numero del canal</strong>
            </p>
        </p>
        <p>
            La frecuencia central de recepción se obtiene sumando 45 MHz a la
            frecuencia central de transmisión. Por ejemplo, las frecuencias
            centrales de transmisión y recepción para el canal 3 son:
            <img class="formula-2" src="/public/img/4.png" alt="Formula 4" />
        </p>
        <p>
            <strong>Y para el canal 991</strong>
            <img class="formula-2" src="/public/img/4.png" alt="Formula 5" />
        </p>

        <h3>Clasificación AMPS de teléfonos celulares</h3>
        <p>
            Hay tres tipos de teléfonos celulares: móviles (en el automóvil),
            portátiles (de bolsillo) y manuales (transportables). La clase de
            radio se determina por el tipo de teléfono y su potencia de
            transmisión. Los móviles tienen la máxima potencia, seguidos por los
            transportables, y los de bolsillo tienen la mínima potencia. La
            tabla 20-2 muestra las clases de teléfonos celulares AMPS y sus
            potencias.
        </p>

        <h3>Canal de control AMPS</h3>
        <p>
            Los canales de control en los sistemas celulares permiten la
            comunicación entre las unidades móviles y la red celular a través de
            las estaciones base. En AMPS, hay 21 canales de control en el
            sistema A y 21 canales en el sistema B. Estos canales se utilizan
            para originar y terminar llamadas, así como para obtener información
            sobre el sistema. Los canales de control del sistema A ocupan los
            canales 313 al 333, mientras que los del sistema B ocupan del 334 al
            354. Esto deja 395 canales disponibles para la transmisión de voz,
            ya que los canales de control no pueden llevar información de voz y
            son exclusivamente para información de servicio. En AMPS, la
            estación base emite en el canal de control directo (FCC) y escucha
            en el canal de control inverso (RCC). A veces, a los canales de
            control se les llama canales de preparación o de voceo. Cada
            estación base utiliza un canal de control para alertar a las
            unidades móviles de la presencia de llamadas entrantes y para mover
            las llamadas establecidas a un canal vacante de voz. El canal de
            control en sentido directo transmite datos continuamente a 10 kbps
            utilizando FSK binaria. Los formatos de datos de canal de control en
            sentido directo consisten en tres corrientes de información
            discreta: la corriente A, la B y la de ocupado-desocupado. Estas
            corrientes se multiplexan entre sí. El FCC transmite diferentes
            clases de mensajes, incluyendo mensajes de control de estación móvil
            y mensajes de sobrecarga. Los mensajes de control de estación móvil
            controlan las unidades móviles cuando no se les ha asignado un canal
            de voz. En el sentido inverso, el RCC transmite datos a una
            velocidad de 10 kbps e incluye respuestas de voceo, peticiones de
            acceso y peticiones de registro. Los mensajes RCC comienzan con el
            precursor de enganche RCC, seguido de una palabra de sincronización
            y el código de color digital para evitar confusiones. En resumen,
            los canales de control son utilizados en los sistemas celulares para
            la comunicación entre las unidades móviles y las estaciones base.
            Estos canales permiten la originación y terminación de llamadas, así
            como la obtención de información del sistema. Los mensajes se
            transmiten a través del FCC y el RCC, con diferentes formatos de
            datos y clases de mensajes.
        </p>

        <h3>Señalización de canal de voz</h3>
        <p>
            Los canales celulares analógicos llevan información de voz y digital. Al transmitir información digital, se inhiben las transmisiones de voz, llamado silencio y ráfaga. La frecuencia de bits de la información digital es de 10 kbps. El formato de señalización de canal de voz para el sentido directo y el sentido inverso se muestra en las figuras 20-9a y 20-9b respectivamente. Se utilizan secuencias de puntos y palabras de sincronización para indicar el inicio del mensaje. Las palabras de señalización se repiten varias veces para asegurar su integridad.
        </p>

        <h3>Tonos de audio de supervisión y señalización</h3>
        <p>
            El uso de canales de voz en las comunicaciones móviles implica el uso de dos procedimientos adicionales: el tono de audio de supervisión (SAT) y el tono de señalización (ST). El SAT garantiza la confiabilidad de las comunicaciones de voz y es transmitido por la estación base, siendo enviado de vuelta por la unidad móvil. Si el SAT coincide, la unidad móvil sabe que está conectada a la estación base correcta. Los SAT son tonos analógicos de 5970, 6000 o 6030 Hz y se superponen a la señal de voz en los enlaces de sentido directo e inverso. El ST, por otro lado, es una ráfaga de datos que inicia la terminación de una llamada y notifica a la estación base que la unidad móvil ha finalizado la llamada intencionalmente. Además, se puede utilizar un canal de voz para enviar mensajes de datos que permitan ajustar la potencia de salida de las unidades móviles o iniciar una transferencia de llamada.
        </p>

        <h3>Acceso múltiple por división de frecuencia N-AMPS</h3>
        <p>
            Motorola creó N-AMPS, una versión mejorada de AMPS, para aumentar la capacidad del sistema en mercados celulares grandes. N-AMPS permite que hasta tres dispositivos utilicen un único ancho de banda de 30 kHz mediante acceso múltiple por división de frecuencia (FDMA) y canales de voz de 10 kHz. Aunque N-AMPS reduce la calidad de audio al disminuir la desviación máxima de frecuencia, se compensa mediante compresión y expansión de voz. Además, se utiliza un filtro de paso alto para evitar interferencias con las señales de voz mientras los datos SAT y ST se transmiten en una corriente de datos continua de 200 bps NRZ.
        </p>

        <h3>Teléfono celular ETACS</h3>
        <p>ETACS, el sistema europeo de comunicaciones, nació en los años 80. Es similar a AMPS pero con un ancho de banda de 25 kHz. Además, utiliza un formato diferente de números telefónicos (MIN) para adaptarse a diferentes países de Europa y códigos de área de Estados Unidos.</p>

        <h3>Diagrama de bloques del teléfono celular analógico</h3>
        <p>
            <img class="img" src="/public/img/Diagrama de bloque del telefono analogico.png" alt="Diagrama de bloque del telefono analogico">

            La figura muestra un transceptor típico de teléfono celular que consta de varias etapas agregadas a un transceptor de radio FM normal. Esta adición se debe a que un teléfono celular necesita permitir transmisiones dúplex, lo que significa que el transmisor y el receptor deben funcionar simultáneamente. El receptor utiliza una tecnología de doble conversión y un oscilador controlado por voltaje (VCO) para amplificar y detectar la señal de FM. Por otro lado, en el transmisor se aplica directamente una señal moduladora al VCO para generar una señal de FM de baja frecuencia, que luego se amplifica antes de ser transmitida. Además, un microprocesador controla cada bloque funcional del transceptor, determina las frecuencias de salida y monitorea la calidad de la señal recibida. También controla la ganancia del amplificador final de potencia.
        </p>
    </section>
</div>

<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    section {
        padding: 0 170px;
        display: flex;
        flex-direction: column;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        text-align: justify;
        font-size: 18px;
    }

    section ul,
    li {
        padding: 5px;
        font-size: 18px;
    }

    section h3 {
        font-size: 22px;
    }

    section h4 {
        font-size: 20px;
        margin: 0;
    }

    section p {
        display: flex;
        flex-direction: column;
    }

    section .formula {
        width: 200px;
    }

    section .formula-2 {
        width: 500px;
    }

    section .img {
        width: 600px;
        align-self: center;
    }
</style>
