<header>
    <div class="title">
        <h1>Servicio telefónico móvil</h1>
    </div>
    
    <h2>Blog</h2>
</header>

<style>

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 10px;
        font-family: monospace;

        background-image: url('/public/img/Portada.jpg');
        background-size: cover;
        box-shadow: 1px 1px 1px 3px lightgray;
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        padding-right: 20px;
    }

    h2 {
        font-size: 34px;
        font-weight: 600;
        padding-right: 20px;
    }
</style>
